name: Java CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11

    - name: Install Chrome
      run: sudo apt-get update && sudo apt-get install -y google-chrome-stable
    - name: Install Xvfb
      run: sudo apt-get install -y xvfb

    - name: Run tests in virtual display
      run: xvfb-run mvn clean test

    - name: Build and Test
      run: mvn clean test

    - name: Upload Test Reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: surefire-reports
        path: target/surefire-reports/
        if-no-files-found: error
